body {
  display: inline;
  background-color: #11999E;
}

button {
  font-weight: bold;
  color: transparent;
  font-size: 1.25em;
  text-decoration: none;
  outline-color: transparent;
  line-height: 70%;
}

button:hover {
  color: #E4F9F5;
  visibility: visible;
  text-decoration: none;
}

table {
  margin: 1% auto 3%;
  background-color: #E4F9F5;
  width: 60%;
  text-align: center;
}

/* .countTable table table td:nth-child(3){
  width: 1%;
} */

thead {
  height: 50px;
}

th {
  text-decoration: underline;
}

td {
  padding-bottom: .7%;
}

a {
  color: black;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 a {
  color: #E4F9F5;
}

h1 a:hover {
  font-weight: bold;
}

p {
  text-indent: 0.8rem;
  margin-block-start: 0;
}

iframe {
  position: absolute;
  top: 5%;
  left: 2.2%;
  width: 90.8%;
  height: 90.8%;
}

.iframe-div {
  position: relative;
  padding-bottom: 18%;
}

/*------------------------navbar styling---------------------------*/

.container-fluid {
  background-color: #40514E;
}
.navbar {
  margin-right: 2%;
}
.navbar-nav {
  margin: 0 2% 0;
}

.navbar-brand {
  font-weight: bold;
  color: #E4F9F5;
}

.nav-link {
  font-size: 1.25em;
  text-decoration: none;
}

.nav-item {
  padding: 0 0 0 2.5rem;
}

/*------------------------Location dropdown---------------------------*/

.locationColumnDiv {
  width: 40em;
  background-color: #E4F9F5;
}

.dropdown-item:hover{
  background-color: #22577A;
  color: #E4F9F5;
}

.locationColumnDiv>.locationTwoColumns {
  display: inline-block;
  width: 32%;
}
.dropdownLocationItem {
  font-size: 95%;
}

/*------------------------language dropdown---------------------------*/

.dropdown-link {
  margin-right: 1.5%;
}
.dropdown-menu {
  min-width: 8.6rem;
}

/*------------------------dropdown animation---------------------------*/

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    max-height: 880px;
    opacity: 1;
}


/*------------------------Button Styling---------------------------*/
.locationButton {
  display: inline-block;
  position: absolute;
  text-align: center;
  background-color: transparent;
  transition-duration: 0.4s;
  border: none;

}

.recollida {
  font-size: 1.2rem;
}

.header-div {
  margin: 2% 27% 2%;
}

.header-content {
  text-align: center;
  background-color: #22577A;
  color: #E4F9F5;
  padding: 0.5%;
}

.headerSorter {
  display: inline-table;
}

.row{
  max-width: 100%;
}

.first-row {
  padding: 0 0 0 0;
}

.col {
  background-color: #E4F9F5;
  padding-top: .7%;
}

.col-lg-2 {
  text-align: right;
  font-weight: bold;
}

.col-lg-4 {
  text-align: left;
}

.lletra-cont {
  padding: 1.1% 0 0 0;
  line-height: .5;
}

.partitura-div {
  padding-bottom: 1%;
}



.partitura {
  width: 95%;
  display: block;
  background-color: white;
  margin: .5% 0 0 0;
  padding: 1.5%;
}

.last-row {
  padding-bottom: 0.7rem;
  margin-bottom: 2%;
}

.footer-div {
  padding: 1% 0 1% 0;
  background-color: #22577A;
}

.footer-text {
  text-align: center;
  color: #E4F9F5;
}

.footer-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.to-anywhere:hover{
  color: #22577A;
  font-weight: 500;
}

.nomargin {
  padding-left: 0.1%;
}

.noindent {
  text-indent: 0;
}
/*------------------------Column Styling---------------------------*/

/* .firstColumn {
  width: 30%;
}

.secondColumn {
  width: 15%;
}

.thirdColumn {
  width: 15%;
} */
